<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" (click)="menu('listar')">Listar</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" (click)="menu('agregar')">Agregar</button>
    <button class="btn btn-sm btn-outline-primary" type="button" (click)="menu('actualizar')">Actualizar</button>
    <button class="btn btn-sm btn-outline-info" type="button" (click)="menu('eliminar')">Eliminar</button>
  </form>
</nav>

<div >

</div>
